@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";
:root {
  --color-background: #f8f9fa;
  --color-foreground: #0f172a;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-primary: #134e43;
  --color-primary-foreground: #ffffff;

  --color-secondary: #c5a059;
  --color-secondary-foreground: #1b150a;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-border: #e2e8f0;

  --color-success: #10b981;
  --color-destructive: #dc2626;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-border: var(--color-border);

  --color-success: var(--color-success);
  --color-destructive: var(--color-destructive);

  --font-sans: sans-regular;
  --font-sans-light: sans-light;
  --font-sans-medium: sans-medium;
  --font-sans-semibold: sans-semibold;
  --font-sans-bold: sans-bold;
  --font-sans-extrabold: sans-extrabold;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-18: 72px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-30: 120px;

  /* Fonts */
  --font-sans: sans-regular;
  --font-sans-light: sans-light;
  --font-sans-medium: sans-medium;
  --font-sans-semibold: sans-semibold;
  --font-sans-bold: sans-bold;
  --font-sans-extrabold: sans-extrabold;
}
